.User{
    color: #24292e;
    background-color: #fff;
    border-bottom: 1px solid #d1d5da;
    overflow: auto;
    box-sizing: border-box;
    padding: 2px;
    margin-bottom:1vh;

}

.Active{
    border: 1px solid green;
    font-size: large;
    font-weight: bold;
}