.Form{
    color: #24292e;
    border-bottom: 1px solid brown;
    overflow: auto;
    box-sizing: border-box;
    padding: 2px;
    margin-bottom:1vh;

    .Passion{
        width:20%;
        margin:5px;
    }
    .HobbyName{
        width:40%;
        margin:5px;
    }
    .StartYear{
        width:20%;
        margin:5px;
    }
}