@import "../../../style/Form.module.scss";

.FormInline{
    .Passion{
        margin: 5px;
        width:20%;
    }
    .HobbyName{
        margin:5px;
        width:40%
    }
    .StartYear{
        margin:5px;
        width:20%;
    }
}